{% extends 'dashboard_base_template.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row my-3">
        <div class="col col-lg-10 col-12 mx-auto">
            <div class="card shadow">
                <div class="card-header bg-primary">
                    {% if ratings %}
                    <h4 class="m-0 font-weight-bold text-white text-center">Update Player Ratings</h4>
                    {% else %}
                    <h4 class="m-0 font-weight-bold text-white text-center">Upload Player Ratings</h4>
                    {% endif %}
                </div>

                <div class="card-body">
                    <div class="col col-lg-12 col-12 mt-5">
                        <form action="{% url 'manage_player_ratings' id=user.id %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="stamina">Stamina*</label>
                                <input type="number" id="stamina" class="form-control" name="stamina" value="{{ ratings.stamina }}" required step="0.01" />
                            </div>

                            <div class="form-group">
                                <label for="durability">Durability*</label>
                                <input type="number" id="durability" class="form-control" name="durability" value="{{ ratings.durability }}" required step="0.01" />
                            </div>

                            <div class="form-group">
                                <label for="speed">Speed*</label>
                                <input type="number" id="speed" class="form-control" name="speed" value="{{ ratings.speed }}" required step="0.01" />
                            </div>

                            <div class="form-group">
                                <label for="passAccuracy">Pass accuracy*</label>
                                <input type="number" id="passAccuracy" class="form-control" name="pass_accuracy" value="{{ ratings.pass_accuracy }}" required step="0.01" />
                            </div>

                            <div class="form-group">
                                <label for="shotAccuracy">Shot accuracy*</label>
                                <input type="number" id="shotAccuracy" class="form-control" name="shot_accuracy" value="{{ ratings.shot_accuracy }}" required step="0.01" />
                            </div>

                            <div class="form-group">
                                {% if ratings %}
                                <button type="submit" class="btn btn-primary btn-block"><i class="fas fa-edit"></i> Update</button>
                                {% else %}
                                <button type="submit" class="btn btn-success btn-block"><i class="fas fa-upload"></i> Upload</button>
                                {% endif %}
                                
                            </div>
    
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}